# Compiler/linker output.
#
*.d
*.t
*.i
*.i.*
*.ii
*.ii.*
*.o
*.obj
*.gcm
*.pcm
*.ifc
*.so
*.dylib
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls
*.exe.manifest
*.pc

# Compilation database.
#
compile_commands.json

# Test executables (backlinks).
#
clone_extents
current_path
extended_attributes
fast_random_file_handle
file_handle_lock_unlock
handle_adapter_xor
issue0009
issue0027
issue0028
issue0073
issue0102
issue0113
issue0170
large_pages
map_handle_cache
mapped
mapped_file_handle
path_discovery
path_view
pipe_handle
process_handle
reduce
shared_fs_mutex
statfs
traverse
trivial_vector
utils
test-directory_handle_create_close
test-directory_handle_enumerate
test-extended_attributes
test-file_handle_create_close
test-map_handle_create_close
test-section_handle_create_close
test-symlink_handle_create_close
test-utils
